/**{
    border: 1px solid red;
}*/
.back-top{
    background-color: #00a884; /* Color selected by inspecting the actual webpage */
    height: 15vh;
}

.back-bottom{
    background-color: #ffffff;
    height: 85vh;
}

.back-container-main{
    position: relative;
}

.front-container{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1{
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.chat-top-line{
    background-color: #f3ececde;
    min-height: 55px;
}
.profile-image{
    margin-top: 12px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.grp-img{
    height: 40px;
    width: 40px;
    margin-top: 7px;
}
.col-sm-4{
    border-right: 1.5px solid gray;
    
}
.float-right{
    float: right;
}

.float-left{
    float: left;
}
.u-name {
    margin-top: 15px;
    margin-left: 16px;
    float: left;
}
.contact-list{
    background-color: white;
    min-height: 600px;
}
.contact-scroll{
    overflow-y: scroll;
    height: 600px;
}
.time-align{
    text-align:right;
}
.message{
    background-image: url(/images/message-bckg.jpg);
    min-height: 600px;
}
.receive-msg{
    background-color: #ffffff;
    padding: 6px;
    margin-top: 8px;
    float: left;
    border-radius: 5px;
    border-top-left-radius: 0; 
    border: 0.5px solid rgb(0, 0, 0);   
}
.sent-msg{
    background-color: #90ee90;
    padding: 7px;
    margin-top: 8px;
    float: right;
    border-radius: 5px;
}
.message-scroll{
    overflow-y: scroll;
    height: 560px;
}
.message-bottom-panel{
    background-color: rgb(235, 232, 232);
    padding: 6px;
}
.margin-right{
    margin-right: 1px;
}
.text-box{
    width: 100%;
    padding: 3px;
    padding-left: 12px;
    border-radius: 7px;
}
